@model DDAC_Flight_System.Models.ViewModel
<h2>Booking Flight Panel</h2>

<div class="container body-content>">
    <div class="main-content">
        <table>
            <tr>
                <td>
                    <a asp-controller="BookFlight" asp-action="Index">
                        <div class="content-image" style="background-image:url('https://lh6.ggpht.com/a8qcgzC7VYpswt_eCEnrQlGb8qnoPo0m4oVIHz81eaqFfo4LrILSj5F27ocEG5GGjA=w300')"></div>
                    </a>
                    
                </td>
                <td>
                    <a asp-controller="ViewRecord" asp-action="Index">
                        <div class="content-image" style="background-image:url('https://d79i1fxsrar4t.cloudfront.net/assets/img/buyer-type-icons/list.8b8d9a64.svg')"></div>
                    </a>                    
                </td>
                <td>
                    <a asp-controller="Login" asp-action="Logout">
                        <div class="content-image" style="background-image:url('https://image.freepik.com/free-icon/logout_318-10026.jpg')"></div>
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center"><h5>Booking Flight</h5></td>
                <td align="center"><h5>View Booking Record</h5></td>
                <td align="center"><h5>Logout</h5></td>
            </tr>
        </table>
    </div>
</div>



